.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 937px;
}

.u-section-1 .u-text-1 {
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  margin: 266px 698px 0 0;
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-weight: 700;
  font-size: 2.25rem;
  margin: -85px 507px 0 -18px;
}

.u-section-1 .u-slider-1 {
  width: 507px;
  min-height: 558px;
  margin: -250px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-image-1 {
  height: 333px;
  margin: 124px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  height: 355px;
  width: 355px;
  margin: 106px auto 0;
}

.u-section-1 .u-carousel-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 14px;
}

.u-section-1 .u-image-3 {
  width: 353px;
  height: 331px;
  margin: 149px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto auto 16.5937px 192.187px;
  left: 205px;
  top: auto;
  right: auto;
  bottom: 0;
}

.u-section-1 .u-carousel-control-2 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto 198.828px 16.5781px auto;
  left: auto;
  top: auto;
  right: 211px;
  bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
  margin: -418px -103px 0 801px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  text-align: start;
  margin: 185px 423px 0 67px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  text-align: start;
  font-weight: 400;
  margin: -26px -103px 0 801px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -217px 698px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 147px auto 0 15px;
}

.u-section-1 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: 192px 0 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-align: center;
  margin: -52px 0 0;
}

.u-section-1 .u-icon-3 {
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0) !important;
  margin: 35px 0 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 50px;
  height: 50px;
  color: rgb(17, 17, 17) !important;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-shape-1 {
  height: 120px;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: -73px auto 0 135px;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.625em;
  margin-left: 0;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -58px auto 33px 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.625em;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 354px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -407px;
    margin-right: 19px;
    margin-left: 679px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 174px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 19px;
    margin-left: 679px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -207px;
    margin-right: 516px;
    margin-left: -18px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 191px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -51px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 39px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -57px;
    margin-bottom: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 255px;
    margin-right: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -81px;
    margin-right: 488px;
    margin-left: -15px;
  }

  .u-section-1 .u-slider-1 {
    width: 523px;
    min-height: 583px;
    margin-top: -300px;
    margin-right: -50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 326px;
    width: 330px;
    margin-top: 182px;
  }

  .u-section-1 .u-image-2 {
    height: 328px;
    width: 298px;
    margin-top: 165px;
  }

  .u-section-1 .u-image-3 {
    width: 364px;
    height: 324px;
    margin-top: 209px;
  }

  .u-section-1 .u-carousel-control-1 {
    inset: auto auto 2.34751e-05px 192.453px;
  }

  .u-section-1 .u-carousel-control-2 {
    inset: auto 198.547px 2.34751e-05px auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -327px;
    margin-right: -50px;
    margin-left: 638px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -185px;
    margin-right: 223px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -68px;
    margin-right: -103px;
    margin-left: 478px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -675px;
    margin-right: 491px;
    margin-left: -12px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 133px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 326px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: -190px;
    margin-right: -148px;
    margin-left: 149px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 103px;
    margin-right: auto;
    margin-left: 247px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -50px;
    margin-right: 247px;
  }

  .u-section-1 .u-shape-1 {
    height: 87px;
    margin-top: 19px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -72px;
    margin-left: 146px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -58px;
    margin-bottom: 60px;
    margin-left: 15px;
    padding-right: 22px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 671px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 246px;
    margin-top: -178px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-slider-1 {
    width: 500px;
    min-height: 563px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 349px;
    object-position: 48.81% 50%;
    width: 327px;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    height: 373px;
    width: 323px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 308px;
    height: 375px;
    margin-top: 157px;
  }

  .u-section-1 .u-carousel-control-1 {
    width: 43px;
    height: 43px;
    left: 177px;
    bottom: -25px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 43px;
    height: 43px;
    right: 177px;
    bottom: -25px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -659px;
    margin-left: 458px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 857px;
    margin-right: 80px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 298px;
  }

  .u-section-1 .u-text-6 {
    width: 242px;
    margin-top: -1175px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 541px;
    margin-left: -40px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 418px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -282px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 185px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 185px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 111px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -150px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: 237px;
    margin-top: 253px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 110px;
    margin-top: -121px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 412px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 330px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-1 .u-image-2 {
    height: 319px;
    width: 294px;
    margin-top: 32px;
  }

  .u-section-1 .u-image-3 {
    width: 305px;
    height: 337px;
    margin-top: 39px;
  }

  .u-section-1 .u-carousel-control-1 {
    width: 30px;
    height: 30px;
    left: auto;
    right: 120px;
    bottom: 0;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 30px;
    height: 30px;
    left: 120px;
    right: auto;
    bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -702px;
    margin-right: -103px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 59px;
    margin-right: -162px;
    margin-left: 163px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-6 {
    width: 123px;
    margin-top: -954px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 582px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 104px;
    margin-right: 61px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -134px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 55px;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 61px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -87px;
    margin-left: 110px;
    padding: 2px 11px 3px 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -46px;
    margin-bottom: 60px;
    padding: 3px 15px 3px 14px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 615px;
}

.u-section-2 .u-gallery-1 {
  height: 454px;
  margin: 95px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-1 {
  width: auto;
  margin: -528px auto 0;
}

.u-section-2 .u-text-2 {
  text-align: start;
  width: 176px;
  margin: 114px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 535px;
  }

  .u-section-2 .u-gallery-1 {
    height: 374px;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -448px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 781px;
  }

  .u-section-2 .u-gallery-1 {
    height: 721px;
    width: 720px;
    margin-top: 46px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-text-1 {
    margin-top: -760px;
  }

  .u-section-2 .u-text-2 {
    transition-duration: 0.5s;
    margin-top: 341px;
    margin-bottom: -805px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 3098px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3529px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-1 {
    margin-top: -2480px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 594px;
  }

  .u-section-2 .u-gallery-1 {
    height: 522px;
    width: 340px;
    margin-top: 12px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-text-1 {
    margin-top: -570px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 269px;
    margin-bottom: 213px;
  }
}